"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b01a85f2-42bc-40a6-be74-e99602d9a512"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "haskell-ghc-mod"
      "linter-js-standard"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  linter: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
